.breadcrumbs {
  position: relative;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;

    a {
      color: $white;
      font-weight: 400;
    }

    i {
      font-size: 21px;
    }
  }
  .breadcrumb_last {
    font-weight: 600;
    color: $primary-color;
  }
}
