.itinerary-single {
   /*word-break: break-all; !provjeritit za ovo u teoriji treba biti svugdje */
  position: relative;

  .language-switcher {
      position: absolute;
      right: 10%;
      top: 1%;
      z-index: 999;
      opacity: 1;
      display: none !important;
  }

  .main-content {
    width: 100%;
  }

  &__header {
    margin-bottom: 20px;
  }

  &__day {
    padding: $global-padding-v1-resp*1.5 0px $global-padding-v1-resp * 1.5;

    @include breakpoint(medium) {
      padding: $global-padding-v2 0px $global-padding-v2 * 1.5;
    }

    @include breakpoint(xlarge) {
      padding: $global-padding-v2 0px $global-padding-v2 * 1.5;
    }

    &:nth-of-type(even) {
      background-color: $light-blue-v1;
    }
    .content-overview {
      padding: 0px;
    }
  }

  &__day-title {
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 5px;
  }

  &__day-image {
    position: relative;

    &::after {
      content: '';
      width: 94%;
      height: 92%;
      position: absolute;
      bottom: 4%;
      left: 3%;
      top: 4%;
      right: 3%;
      display: block;
      border: 3px solid $white;
      @include breakpoint(medium) {
        border: 5px solid $white;
      }
    }

    &-img {
      display: block;
      width: 100%;
    }
  }

  &__day-content {

    p {
      font-size: 18px;
    }

    @include breakpoint(small only) {
      width: calc(100% - 2.275rem)!important;
      margin-bottom: 25px;
    }
  }

  &__data {
    font-size: 18px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }

  &__list {
    text-align: center;
    border-bottom: 1px solid $gray;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: #fff;
    z-index: 3;

    ul {
      margin: 0px auto;
      padding: 0px;

      @include breakpoint(small only) {
        display: none;
      }
    }

    &-select {
      display: none;

      @include breakpoint(small only) {
        display: block;
      }
    }
  }

  &__list-item {
    list-style: none;
    float: left;
  }

  &__list-ancor {
    display: block;
    /* padding: 20px 30px;
    font-size: 18px; */
    padding: 15px 23px;
    font-size: 16px;
    letter-spacing: 3px;
    transition: all 0.52s;

    &:hover,
    &:focus {
      border: none;
      outline: none;
      background-color:transparent!important;
    }

    &.active {
      background-color: $blue!important;
      color: $white;
    }
  }

  &__list-navigation {
    display: block;
    width: 100%;
    overflow-x: auto;
    scrollbar-3dlight-color: $light-blue-v1;
    scrollbar-arrow-color: $white;
    scrollbar-track-color: $white;
    scrollbar-darkshadow-color: none1;
    scrollbar-face-color: $light-blue-v2;
    scrollbar-highlight-color: $white;
    scrollbar-shadow-color: $light-blue-v1;
    scrollbar-height: thin;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: $light-blue-v1;
      -ms-scrollbar-base-color: $light-blue-v1;
    }

    &::-webkit-scrollbar-thumb {
      background: $light-blue-v2;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    }

  }

  &__list-navigation-wrap {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: inline-flex;
  }
}
.single-itinerary {
  .content-map {
    &__map {
      border: #ccc solid 1px;
    }
  }
}
