@media print {
  @page {
    size: A4 portrait; /* DIN A4 standard, Europe */
    margin: 1cm 1cm 1cm 1cm!important;
    padding: 0cm!important;
    /*height: 300mm;*/
    /*  */
  } 
  body, h1, h2, h3, ol, ul, .itinerary-single__day   {
    width: auto;
    border: 0;
    margin: 10px 0px 10px!important;
    padding: 0;
    float: none;
    position: static;
    overflow: inherit;
    page-break-inside: avoid!important;
  }

  html, body {
    width: 100%;
      /* height: 297mm; 
      /* height: 282mm;
      font-size: 11px;
      background: #FFF;
      overflow:visible;*/  
  }


  .header, .resp-menu, .footer, .button, .itinerary-single__list, footer {
    display: none!important;
    padding: 0;
    margin: 0;
    height: 0px; 
  } 
  #content {
    margin-top: 0px!important;
    width: 100%;  
  }
  a[href]:after {
    content: "";
  }
  #header,
  .resp-menu,
  .button.button--print {
    display: none!important;
    padding: 0;
    margin: 0;
    height: 0px;
  } 

  .tabs-single__container,
  .tabs-single__container .tabs-panel.is-active,
  .tabs-panel,
  .tabs-single__title,
  .tabs-slider__title,
  .print-title {  
    display: block!important;
    margin-top: 0; 
  }

  .tabs-single__container,
  .tabs-slider__container {
    margin-top: 15px!important;
  }

  .tabs-single,
  .tabs-slider {
    margin-top: 15px!important;
    padding-top: 15px!important;
  }

  .tabs-single__content, 
  .itinerary-single__day-content,
  .tabs-slider__content, 
  .itinerary-slider__day-content,
  .swipe-tab-content,
  .tabs-slider__content p {
    vertical-align: top; 
    width: 98%!important;
    opacity: 1!important;
    display: block!important;
  }

  .slick-slide {
    left: 0!important;
    opacity: 1!important;
    padding: 0px 5px!important;
  }

  .slick-slide header,
  .slick-slide p,
  .slick-slide .tabs-slider__content {
    page-break-inside: avoid!important;
    width: 100%!important;
    float: none!important;
    width: 180mm!important; 
   }
  

  .itinerary-single__day-image,
  .tabs-single__image,
  .tabs-single__map,
  .itinerary-single__slider,
  .itinerary-slider__day-image,
  .tabs-slider__image,
  .tabs-slider__map,
  .itinerary-slider__slider,
  .social,
  .printable,
  .slider-arrow {
    display: none!important;
  }
 
  .itinerary-single__day,
  .itinerary-single__day .content-overview,
  .itinerary-single__slider,
  .itinerary-slider__day,
  .itinerary-slider__day .content-overview,
  .itinerary-slider__slider {  
    padding: 30px!important;
  }

  .tabs-single__list,
  .tabs-slider__list {
    border: none!important;
    display: none!important;
  }

  .tabs-single__title,
  .tabs-slider__title   {
    margin-bottom: 7px!important;
  }
  pre, blockquote, p {page-break-inside: avoid!important;}

  .tabs-slider__content p{
    word-wrap:break-word;page-break-inside: avoid!important;
    width: 98%!important;
    display: block!important;
  }

}
