.main-container {
  @include xy-grid-container;

  &--full-width {
    @include xy-grid-container(100%);
  }
}

.main-grid {
  @include xy-grid();
  margin-top: 40px;
  margin-bottom: 60px;
  /*
  margin-bottom: $global-padding-v1-resp;
  */

  @include breakpoint(medium) {
    margin-top: 3rem;
    /*
    margin-top: $global-padding-v2;
    margin-bottom: $global-padding-v2;
    */
  }

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content { order: 1; }
      .sidebar { order: 2; }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content { order: 2; }
      .sidebar { order: 1; }
    }
  }

  // Full width template
  .main-content-full-width {
    @include xy-cell(12);
  }

  // Default template
  .main-content {
    @include xy-cell(12);

    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      //@include xy-cell(8);
    }
  }

  .sidebar {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(4);
      margin-top: 1rem;
    }

  }
}

.entry-content {
  margin-bottom: 40px;

  .tabs {
    border-bottom: 1px solid #d8d8d8;
    margin-top: 40px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    .tabs-title a {
      font-weight: 600;
      letter-spacing: 0.03em;
      text-transform: none;
      white-space: nowrap;
    }

    .tabs-content {}

  }
}